@media (max-width: 780px) {
   .slider {
      &__controller {
         top: 100%;
   
         .prev {
            left: 0%;
         }
   
         .next {
            right: 0%;
         }
      }
   

      &__image {
         padding-bottom: 80%;
      }
      &__image {

         figcaption {
            font-size: 1.2rem;
         }
      }
   }
}