@media (max-width: 780px) {
   .slider {
      gap: 20px;
      &__controller {
         top: 100%;
   
         .prev {
            left: 0%;
         }
   
         .next {
            right: 0%;
         }
      }
      &__btns{
         flex-direction: column;
         .dots{
            order: -1;
            margin-bottom: 20px;
         }
      }
   
      &__likes{
         position: relative;
         left: 0;
         transform: translateX(0);
      }
      &__image {
         padding-bottom: 80%;
      }
      &__image {

         figcaption {
            font-size: 1.2rem;
         }
      }
   }
}